<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GrasscutterTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<GrasscutterTools.Properties.Settings>
   <setting name="AutoCopy" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Uid" serializeAs="String">
    <value>10001</value>
   </setting>
   <setting name="DefaultLanguage" serializeAs="String">
    <value>zh-CN</value>
   </setting>
   <setting name="ResourcesDirPath" serializeAs="String">
    <value />
   </setting>
   <setting name="TextMapFileName" serializeAs="String">
    <value>TextMapCHS</value>
   </setting>
   <setting name="RemoteUid" serializeAs="String">
    <value>10001</value>
   </setting>
   <setting name="Host" serializeAs="String">
    <value>https://127.0.0.1</value>
   </setting>
   <setting name="CheckedLastVersion" serializeAs="String">
    <value />
   </setting>
   <setting name="TokenCache" serializeAs="String">
    <value />
   </setting>
   <setting name="CommandVersion" serializeAs="String">
    <value>1.2.2</value>
   </setting>
   <setting name="IsTopMost" serializeAs="String">
    <value>False</value>
   </setting>
  </GrasscutterTools.Properties.Settings>
	</userSettings>
</configuration>