<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GrasscutterTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<GrasscutterTools.Properties.Settings>
   <setting name="AutoCopy" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Uid" serializeAs="String">
    <value>10001</value>
   </setting>
   <setting name="DefaultLanguage" serializeAs="String">
    <value />
   </setting>
   <setting name="ResourcesDirPath" serializeAs="String">
    <value />
   </setting>
   <setting name="TextMapFileName" serializeAs="String">
    <value>TextMapCHS</value>
   </setting>
   <setting name="RemoteUid" serializeAs="String">
    <value>10001</value>
   </setting>
   <setting name="Host" serializeAs="String">
    <value>http://127.0.0.1:443</value>
   </setting>
   <setting name="CheckedLastVersion" serializeAs="String">
    <value />
   </setting>
   <setting name="TokenCache" serializeAs="String">
    <value />
   </setting>
   <setting name="CommandVersion" serializeAs="String">
    <value />
   </setting>
   <setting name="IsTopMost" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DropJsonPath" serializeAs="String">
    <value />
   </setting>
   <setting name="DefaultMailSender" serializeAs="String">
    <value>GrasscutterTools</value>
   </setting>
   <setting name="ShopJsonPath" serializeAs="String">
    <value />
   </setting>
   <setting name="MainFormLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MainFormSize" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="BannersJsonPath" serializeAs="String">
    <value />
   </setting>
   <setting name="IsIncludeUID" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NavContainerSplitterDistance" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ActivityConfigJsonPath" serializeAs="String">
    <value />
   </setting>
   <setting name="ProjectResourcePath" serializeAs="String">
    <value />
   </setting>
   <setting name="IsUpgraded" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsHotkeyEenabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoStartProxy" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WindowOpacity" serializeAs="String">
    <value>100</value>
   </setting>
  </GrasscutterTools.Properties.Settings>
	</userSettings>
</configuration>